<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Recursive Conundrum index</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <h1>Recursive Conundrum</h1>
    <p>A site for testing bad ideas I have and my own corner of the internet</p>
</body>
</html>